ProyectoWebBanda/Connected Services/ServiceReference1/ServiceDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="tns:ArrayOfCancion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCancion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cancion" nillable="true" type="tns:Cancion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cancion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idCancion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duracion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Genero" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idAlbum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPlataforma" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCanciones">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerCancionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCancionesResult" type="tns:ArrayOfCancion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCancionesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCanciones" />
  </wsdl:message>
  <wsdl:message name="ObtenerCancionesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCancionesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceDBSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCanciones">
      <wsdl:input message="tns:ObtenerCancionesSoapIn" />
      <wsdl:output message="tns:ObtenerCancionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDBSoap" type="tns:ServiceDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCanciones">
      <soap:operation soapAction="http://tempuri.org/ObtenerCanciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceDBSoap12" type="tns:ServiceDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCanciones">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCanciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDB">
    <wsdl:port name="ServiceDBSoap" binding="tns:ServiceDBSoap">
      <soap:address location="https://localhost:44351/ServiceDB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceDBSoap12" binding="tns:ServiceDBSoap12">
      <soap12:address location="https://localhost:44351/ServiceDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>